{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  }
}
